body {
  background: rgb(213, 222, 240) 61%;
}

h1 {
  font-size: 75px;
  color: rgb(90, 65, 107);
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-size: 25px;
  color: rgb(184, 153, 179);
  text-align: center;
  padding-bottom: 20px;
}

p {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
