body {
  background: rgb(213, 222, 240) 61%;
}

h1 {
  font-size: 75px;
  color: #fdfdf4;
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-size: 25px;
  color: rgb(142, 141, 204);
  text-align: center;
  padding-bottom: 20px;
}

p {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
