input {
  color: rgb(127, 112, 194);
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  border: 1px solid rgb(109, 81, 133);
}

.Dictionary section {
  background: rgba(250, 253, 255, 0.836);
  border-radius: 8px;
  box-shadow: 2px 2px 2px #faf9f288;
  padding: 30px;
  margin: 20px 0;
}
